<html>

<head>
    <title>TouchInsight</title>
    <link rel="shortcut icon" href="images/icon.png">
</head>

<body>
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/jquery.gridster.css" />
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.5/leaflet.js"></script>
    <script src="js/firebase.js"></script>

    <script src="polychrome/polychrome-fb.js"></script>

    <script src="js/d3.v3.min.js"></script>
    <script src="js/jquery-2.1.3.min.js"></script>
    <script src="js/jquery-ui.js"></script>
    <script src="js/jquery.gridster.js"></script>
    <script src="js/jquery.percentageloader.min.js"></script>
    <script src="js/queue.v1.min.js"></script>
    <script src="js/topojson.js"></script>
    <script src="js/topojson.v1.min.js"></script>
    <script src="js/vega.js"></script>
    <script src="js/states.js"></script>
    <script src="js/lasso.js"></script>

    <script src="js/touchinsight-query.js"></script>
    <script src="js/touchinsight-map.js"></script>
    <script src="js/touchinsight-bar.js"></script>
    <script src="js/touchinsight-timechart.js"></script>
    <script src="js/touchinsight-scatterplot.js"></script>
    <script src="js/touchinsight-crime.js"></script>

    <div id="content" class="gridster">

    </div>

    <div class="nav-ui" shrink="false">

        <div class="header">
            <div class="btnminimize">
            </div>
        </div>

        <div class="awareness">
            <iframe  width="600px" height="250px" src="http://localhost:3000/awareness">
            </iframe>

        </div>

    </div>

</body>

</html>